@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERIES MANAGER
/* 
0 - 600px: Phones in general
600-900px: Tablets in portrait
900-1200px:Tablets in Landscape
1200-1800px: Base desktop
above it: huge monitors

$breakpoint argument choices
- phone
- tablet-port
- tablet-land
- desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px % 16px
      @content;
    }
  }
  @if $breakpoint == tablet-port {
    @media (max-width: 65.25em) {
      //600px % 16px
      @content;
    }
  }
  @if $breakpoint == tablet-land {
    @media (max-width: 75em) {
      //600px % 16px
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 112.5em) {
      //600px % 16px
      @content;
    }
  }
}
