$color-primary: #edb458;
$color-primary-light: #d4d4aa;
$color-primary-dark: #e8871e;
$color-secondary-dark: #bad4aa;
$color-secondary-light: #ebf5df;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
